/* Styles for small devices (phones, 480px and below) */
@media only screen and (max-width: 480px) {

    /* CSS rules for small devices */
    h1 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    /* navbar styling */
    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: block;
        text-align: center;
    }

    nav li {
        margin: 0 1rem 1rem 1rem;
        font-size: 1rem;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }

    .image-container figure {
        margin: 3rem 0 0 0;

        background-color: #59331d;
        border-radius: 10px;
    }

    .image-container figure img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .image-container figcaption {
        color: #f2f2f2;
        padding: 0.5rem;
    }

    article {
        flex-basis: 100%;
        font-size: 12px;
    }

    .button {
        padding: 0.3rem 0.3rem;
    }

    footer a {
        color: #f2f2f2;
        font-size: 1rem;
        display: block;
        margin: 0 1rem 3rem 1rem;
    }

    /* flex basis on the image container, li */
    nav .logo {
        flex-basis: 100%;
        text-align: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        display: block;
    }
}

/* Styles for medium devices (tablets, 768px and below) */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* CSS rules for medium devices */
    /* navbar styling */
    nav ul {
        padding: 1rem;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    nav li {
        margin: 1rem;
        font-size: 1rem;
    }

    .about-container {
        flex-basis: 70%;
    }

    .image-container {
        flex-basis: 30%;
    }

    .body {
        display: flex;
    }

    .image-container figure {
        margin: 3rem 0 0 0;

        background-color: #59331d;
        border-radius: 10px;
    }

    .image-container figure img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .image-container figcaption {
        color: #f2f2f2;
        padding: 0.5rem;
    }

    .button {
        padding: 0.5rem .5rem;
    }

    footer a {
        color: #f2f2f2;
        font-size: 1rem;
        display: block;
        margin: 0 1rem 3rem 1rem;
    }

    /* flex basis on the image container, li */
    nav .logo {
        flex-basis: 100%;
        text-align: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        display: block;
    }
}

/* Styles for large devices (desktops, 992px and above) */
@media only screen and (min-width: 769px) {
    /* CSS rules for large devices */

    h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }

    /* navbar styling */
    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        text-align: center;
    }

    nav li {
        margin: 0 1rem 1rem 1rem;
        font-size: 1rem;

    }
    .about-container {
        flex-basis: 70%;
    }

    .image-container {
        flex-basis: 30%;
    }

    .body {
        display: flex;
    }
    article {
        flex-basis: 100%;
        font-size: 20px;
    }
    .image-container figure {
        margin: 6rem 0 0 0;

        background-color: #59331d;
        border-radius: 10px;
    }

    .image-container figure img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .image-container figcaption {
        color: #f2f2f2;
        padding: 0.5rem;
    }
    .button {
        padding: 0.6rem 0.6rem;
    }
    nav li a {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    nav li a span {
        margin-right: 5px;
    }

    /* flex basis on the image container, li */
    nav .logo {
        flex-basis: 100%;
        text-align: left;
    }

    nav a {
        color: white;
        text-decoration: none;
        display: flex;
    }
    footer a {
        color: #f2f2f2;
        font-size: 2rem;
        display: block;
        margin: 0 1rem 3rem 1rem;
    }
}

body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}



/* make images flexible */
img {
    max-width: 100%;
}

a {
    color: #59331d;
}

a:hover {
    text-decoration: none;
}

header {
    border-bottom: 10px solid #d98555;
}



/* max width on the image in pixels */
nav .logo img {
    max-width: 150px;
}




nav a:hover {
    color: #d98555;
}

/* establishes a white background */
.main-bkgd {
    background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
}

/* sits inside of the white background, centered */
.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    flex-flow: row wrap;
    justify-content: space-between;
}



.button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
}

.button:hover {
    background-color: #f2f2f2;
    color: #59331d;
}

footer {
    color: #f2f2f2;
    text-align: center;
    border-top: 10px solid #d98555;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}